{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Ingredients{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for ingredient in ingredients %}
<article class="post">
    <header>
        <div>
            <h1>{{ ingredient['name'] }}</h1>
        </div>
    </header>
    <p class="body">
        <h2>Ethical Ratings for {{ ingredient['name']}} </h2>
        <ul> 
            <li>Nourishment: {{ ingredient['r_nourishment']}} </li>
            <li>Value: {{ ingredient['r_value']}} </li>
            <li>Human Welfare: {{ ingredient['r_human_welfare']}} </li>
            <li>Animal Welfare: {{ ingredient['r_animal_welfare']}} </li>
            <li>Resource Conservation: {{ ingredient['r_resource_cons']}} </li>
            <li>Biodiversity: {{ ingredient['r_biodiversity']}} </li>
            <li>Global Warming: {{ ingredient['r_global_warming']}} </li>
            <li>Average Ethical Rating: {{ ingredient['r_avg']}} </li>
        </ul>
    </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}