{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Ingredient Alternatives{% endblock %}</h1>
{% endblock %}

{% block content %}
{% set ratings = [ 'r_nourishment', 'r_value', 'r_human_welfare',
'r_animal_welfare', 'r_resource_cons', 'r_biodiversity','r_global_warming'] %}
{% set badCutoff, goodCutoff = 2.5, 4.0 %}

<article class="post">
    <header>
        <div>
            <h1>Alternatives for {{ ingredient['name'] }}</h1>
        </div>
    </header>

    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Image</th>
                <th>Pros</th>
                <th>Cons</th>  
            </tr>
        </thead>
        {% for alt in alts %}
        <tr>
            <td>{{ alt['name'] }}</td>
            <td> IMAGE PLACEHOLDER </td>
            <td class="alt-pros">
                {% for rating in ratings %}
                {% if alt[rating] > goodCutoff %}
                <span class="good-rating"> {{rating}}: {{ alt[rating] }}</span>
                {% endif %}
                {% endfor %}
            </td>
            <td class="alt-cons">
                {% for rating in ratings %}
                {% if alt[rating] < badCutoff %}
                <span class="bad-rating"> {{rating}}: {{ alt[rating] }}</span>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}