{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Step 2: Edit Recipe Ethical Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
{% set ratings = [ 'r_nourishment', 'r_value', 'r_human_welfare',
'r_animal_welfare', 'r_resource_cons', 'r_biodiversity','r_global_warming'] %}

{% set alts_info = dict() %}
{% for alt in alts %}
  {% set alternative = alts_info.update( {alt['name']: dict()} ) %}
  {% set id = alts_info[alt['name']].update({"id": alt['id']})%}
  {% set cat = alts_info[alt['name']].update({"category_id": alt['category_id']})%}
  {% for rating in ratings %}
    {% set r = alts_info[alt['name']].update({rating: alt[rating]})%}
  {% endfor %}
{% endfor %}

{% set list = dict() %}
{% for item in recipe_ingredients %}
  {% set i = list.update( {item['name']: dict()}) %}
  {% set recipe_id = list[item['name']].update( {"recipe_id": item['recipe_id']}) %}
  {% set id = list[item['name']].update( {"ingredient_id": item['ingredient_id']}) %}
  {% set amount = list[item['name']].update( {"amount": item['amount']}) %}
  {% set unit = list[item['name']].update( {"unit": item['unit']}) %}
{% endfor %}

{% set badCutoff, goodCutoff = 2.5, 4.0 %}
<h1 id="title"> {{ post['title'] }}</h1> 

<form method="post">
    <table>
      <thead>
          <tr>
              <th>Ingredient</th>
              <th>Amount</th>
              <th>Image</th>
              <th>Pros</th>
              <th>Cons</th>
              <th>Other Choices</th>
  
          </tr>
      </thead>
      {% for item in list %}
        <tr>
          <td>{{ item }}</td>
          <td>{{ list[item]['amount'] }} {{ list[item]['unit'] }}</td>
          <td> IMAGE PLACEHOLDER </td>
          <td class="ingredient-pros">
              {% for rating in ratings %}
                  {% if alts_info[item][rating] > goodCutoff %}
                  <span class="good-rating"> {{rating}}: {{ alts_info[item][rating] }}</span>
                  {% endif %}
              {% endfor %}
          </td>
          <td class="ingredient-cons">
              {% for rating in ratings %}
                  {% if alts_info[item][rating] < badCutoff %}
                  <span class="bad-rating"> {{rating}}: {{ alts_info[item][rating] }}</span>
                  {% endif %}
              {% endfor %}
          </td>
          <td class="alts" id= "{{alts_info[item]['category_id']}}">
            {% for alt in alts_info %}
              {% if alts_info[item]['category_id'] == alts_info[alt]['category_id'] %}
                {% if item == alt %}
                  <p class='selected'>{{alt}}</p>
                {% else %}
                  <p class='unselected'>{{alt}}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
      </tr>
      {% endfor %}
  
  </table>

    <input type="submit" value="Step 3: Save to CookBook">
  </form>
  
  <script>
    var ingredients = '{{ list | tojson }}';
    var alts = '{{ alts_info |tojson }}';
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ratingTable.js') }}"></script>
  
{% endblock %}
