{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Step 1: Select Common Recipe{% endblock %}</h1>

<a class="action" href="{{ url_for('recipe.update', id=recipe['id']) }}">STEP 2: CHOOSE ETHICAL INGREDIENTS</a>

{% endblock %}

{% block content %}
<article class="post">
    <header>
        <div>
            <h1>{{ recipe['title'] }}</h1>
            <div class="about">by {{ recipe['username'] }} on {{ recipe['created'].strftime('%Y-%m-%d') }}</div>
        </div>
    </header>
    <p class="body">{{ recipe['body'] }}</p>
    <h4>Current Ingredients</h4>
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Image</th>
            </tr>
        </thead>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient['name'] }}</td>
            <td>{{ ingredient['amount'] }} {{ ingredient['unit'] }}</td>
            <td> IMAGE PLACEHOLDER </td>
        </tr>
        {% endfor %}

    </table>
</article>
<hr>
{% endblock %}