{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Recipes{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('recipe.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% set ratings = [ 'r_nourishment', 'r_value', 'r_human_welfare',
'r_animal_welfare', 'r_resource_cons', 'r_biodiversity','r_global_warming'] %}
{% set badCutoff, goodCutoff = 2.5, 4.0 %}
<article class="post">
    <header>
        <div>
            <h1>{{ recipe['title'] }}</h1>
            <div class="about">by {{ recipe['username'] }} on {{ recipe['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == recipe['author_id'] %}
        <a class="action" href="{{ url_for('recipe.update', id=recipe['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ recipe['body'] }}</p>
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Image</th>
                <th>Pros</th>
                <th>Cons</th>
                <th>Other Choices</th>

            </tr>
        </thead>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient['name'] }}</td>
            <td>{{ ingredient['amount'] }} {{ ingredient['unit'] }}</td>
            <td> IMAGE PLACEHOLDER </td>
            <td class="ingredient-pros">
                {% for rating in ratings %}
                    {% if ingredient[rating] > goodCutoff %}
                    <span class="good-rating"> {{rating}}: {{ ingredient[rating] }}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td class="ingredient-cons">
                {% for rating in ratings %}
                    {% if ingredient[rating] < badCutoff %}
                    <span class="bad-rating"> {{rating}}: {{ ingredient[rating] }}</span>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}

    </table>
</article>
<hr>
{% endblock %}